body {
	background-color: #daf1db;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	padding-top: 70px;
}

.navbar {
	background-color: #9cd19e;
	color: black;
}

.navbar.center .navbar-inner .navbar-collapse nav {
	text-align: center;
 	display:inline-block;
	float: none;
}

.navbar li {
	list-style-type: none;
}

#headshot, #resume {
	 border: 1px solid black; 
}

header, footer {
	padding: auto;
	margin: 50px;
}

a {
	text-decoration: none;
	color: black;
}
.card {
	background-color: rgba(243, 154, 144, 0.678);
	text-align: center;
	border: 1px solid;
	max-width: 540px;
}

.nav-link {
	color: black;
	font-weight: 400;	
}

.nav-link:hover, .nav-link:active {
	color:rgb(236, 157, 148);	
}


.container-lg {
	padding: 30px;
}